@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  min-height: 100vh;
  display: flex;
  background: black;
  color: white;
  overflow-x: hidden;
  font-family: 'poppins';
}

aside {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 15px;

  img {
    max-width: 130px;
    cursor: pointer;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
    a {
      display: flex;
      gap: 10px;
      white-space: nowrap;
      padding: 10px;
      border-radius: 10px;
      transition: all 300ms;
      &:hover {
        background: rgb(32, 32, 32);
      }
    }
  }
}

main {
  width: 100%;
  background: rgb(42, 42, 42);
}

main header {
  display: flex;
  justify-content: space-between;
  background: black;
  padding: 10px;

  form {
    display: flex;
    input {
      padding: 10px;
      border-radius: 5px 0 0 5px;
      border: none;
      outline: none;
    }
    button {
      height: 100%;
      padding: 0 25px;
      border: none;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      background: #2d9124;
      color: white;
    }
  }
  ul {
    display: flex;
    align-items: center;
    font-size: 14px;
    list-style: none;
    li {
      padding: 5px 10px;
      border-radius: 10px;
      cursor: pointer;
      transition: all 300ms;
      &:hover {
        background: rgb(60, 60, 60);
      }
    }
  }
}

main .songs {
  h2 {
    padding: 20px;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;

    .card {
      width: 160px;
      padding: 15px;
      background: #181818;
      border-radius: 6px;
      cursor: pointer;

      &:hover .play {
        bottom: 20px;
        opacity: 1;
      }
      h4 {
        margin-bottom: 6px;
      }

      figure {
        position: relative;
        img {
          width: 100%;
          border-radius: 6px;
          margin-bottom: 10px;
        }
        .play {
          position: absolute;
          display: grid;
          place-items: center;
          right: 10px;
          width: 40px;
          height: 40px;
          bottom: -20px;
          background: rgb(18, 120, 35);
          border-radius: 50%;
          font-size: 20px;
          opacity: 0;
          transition: all 0.3s;
          &:hover {
            background: #0fc100;
            scale: 0.9;
          }
        }
      }
    }
  }
}

.playing {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 10px 40px;
  width: 100%;
  background-image: linear-gradient(270deg, #0421e0 0%, #0fc100 100%);
  color: white;
  text-shadow: 0 0 10px black;

  .info {
    display: flex;
    align-items: center;
    gap: 30px;

    p:nth-child(1) {
      margin-bottom: 5px;
      color: rgb(208, 207, 207);
    }
    img {
      width: 60px;
      border-radius: 50%;
    }
  }
}

.animate {
  animation: turn 2s linear infinite;
}
@keyframes turn {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
